version: '3'
services:
  hublabank:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: 'hubla'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3307:3306'
    expose:
      - '3307'
    networks:
      net:
  hubla_backend:
    container_name: hubla_backend
    restart: always
    build:
      context: ./DesafioBack
      dockerfile: Dockerfile
    environment:
      TZ: America/Sao_Paulo
      spring.datasource.url: 'jdbc:mysql://hublabank:3306/hubla'
      spring.datasource.username: 'root'
      spring.datasource.password: 'password'
      server.error.include-message: always
    ports:
      - '8080:8080'
    command: mvn spring-boot:run
    networks:
      net:
  hubla_frontend:
    container_name: hubla_frontend
    build:
      context: ./DesafioFront
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./DesafioFront/src:/app/src
      - /app/node_modules
networks:
  net:
    driver: bridge