/* Estilos gerais */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

/* Estilos do cabeçalho */
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h2 {
    color: #333;
    margin: 0;
}

.header a {
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

/* Estilos do conteúdo */
.content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.content p {
    color: #333;
    font-size: 18px;
    margin: 0 0 20px 0;
}

/* Estilos dos botões */
button {
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  float: center;
  height: 35px;
  margin-left: 10px;
}

button:hover {
    background-color: #555;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.75);
  outline-offset: 15px;
  align-items: center
}
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btn-login {
    padding: 10px 20px;
    background-color: #e9e790;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .btn-login:hover {
    background-color: #e9e790;
  }
  